.dark {
  background-color: #232424;
  color: #ffffff;
}


.light {
  background-color: #ffffff;
  color: #000;
}


.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

